* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbarform {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  background: linear-gradient(90deg, rgb(255, 113, 234), rgb(249, 132, 132));
  padding: 20px 40px;
  height: 120px;
  position: fixed; /* Fija la navbar en la parte superior */
  top: 0; /* La coloca en la parte superior de la página */
  width: 100%; /* Asegura que ocupe todo el ancho */
  z-index: 10; /* Para que esté por encima de otros elementos */
}

.logoform{
  font-family: "Cooper Hewitt", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: transparent;
  background-color: blue;
  -webkit-text-stroke: 1.5px rgb(4, 0, 62);
  -webkit-background-clip: text;
  background-clip: text;
  display: flex;
  justify-content: center; /* Centra el contenido del logo horizontalmente */
  align-items: center; /* Centra el contenido del logo verticalmente */
  text-align: center; /* Asegura que el texto esté centrado */
}

.logoform img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.textobienv{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: rgb(30, 62, 225);
  font-weight: bold;
  text-shadow: black 2px 2px 2px; 
  margin-left: 1px;
  height: 2px;
}

.formulario-page {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, #79deff, #eaff95);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px; /* Asegura que el contenido no se solape con la navbar fija */
}

.formulario {
  background: linear-gradient(-23deg, #0c4558, #999997);
  padding: 20px;
  width: 400px;
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 24px;
}

label {
  display: block;
  color: #ffffff;
  margin-top: 10px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #152e47;
}

a {
  color: rgb(36, 204, 75);
  display: block;
  margin-top: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
