/* Reinicio básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navbar */
  .navbar3M {
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center;     /* Centra verticalmente */
    background: linear-gradient(90deg, rgb(110, 28, 168), rgb(195, 136, 234));
    padding: 10px 20px;
    height: 60px;
  }
  
  .logos2M {
    display: flex;
    align-items: center;
  }
  
  .logos2M img {
    width: 35px;
    height: 35px;
  }
  
  .logos-text2M {
    font-family: "Rubik bubbles", system-ui;
    font-size: 50px;
    font-weight: bold;
    color: transparent;
    background-color: rgb(0, 0, 255);
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  
  /* Estilo del cuerpo */
  .Cuerpos2M {
    font-family: "Spicy Rice", serif;
    font-size: 40px;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    line-height: 1.0;
    color: rgb(125, 76, 189);
    background: linear-gradient(10deg, rgb(9, 173, 75), rgb(246, 247, 248));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    padding: 50px;
    
  }
  
  .btn-juegos1M {
    font-family: "Jersey 10", sans-serif;
    -webkit-text-stroke: 0.9px rgb(0, 0, 0);
    position: relative;
    bottom: 264px;
    background: linear-gradient(90deg, rgb(1, 135, 32), rgb(217, 247, 65));
    border: none;
    color: white;
    padding: 20px 80px;
    font-size: 77px;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
  }
  .btn-juegos2M {
    font-family: "Jersey 10", sans-serif;
    -webkit-text-stroke: 0.9px rgb(0, 0, 0);
    position: relative;
    bottom: 264px;
    background: linear-gradient(90deg, rgb(88, 1, 106), rgb(229, 43, 242));
    border: none;
    color: white;
    padding: 20px 50px;
    font-size: 70px;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
  }
  .btn-juegos3M {
    font-family: "Jersey 10", sans-serif;
    -webkit-text-stroke: 0.9px rgb(0, 0, 0);
    position: relative;
    bottom: 264px;
    background: linear-gradient(10deg, #fe3131, rgb(255, 116, 116));
    border: none;
    color: white;
    padding: 20px 50px;
    font-size: 70px;
    border-radius: 25px;
    cursor: pointer;
    transition: 1s;
  }
  .BJuegosM img {
    width: 90px;
    height: 90px;
    gap: 90px;
    transition: 1s;
  }
  .BJuegosM {
    display: flex;
    justify-content: center;
    margin-top: 320px;
    gap: 90px;
    align-items: center;
  }
  
  .btn-juegos1M:hover {
    font-size: 50px;
    background-color: rgb(45, 92, 56);
  }
  .btn-juegos1M img:hover {
    width: 60px;
    height: 60px;
  }
  .btn-juegos2M img:hover {
    width: 60px;
    height: 60px;
  }
  .btn-juegos3M img:hover {
    width: 60px;
    height: 60px;
  }

  .btn-juegos2M:hover {
    font-size: 50px;
    background-color: rgb(62, 6, 79);
  }
  .btn-juegos3M:hover {
    font-size: 50px;
    background-color: rgb(0, 38, 48);
  }
  
  