/* Reinicio básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
.navbar6M {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente */
  background: linear-gradient(90deg, rgb(255, 113, 234), rgb(249, 132, 132));
  padding: 10px 20px;
  height: 60px;
}

.logos6M {
  display: flex;
  align-items: center;
}

.logos6M img {
  width: 35px;
  height: 35px;
}

.logos-text6M {
  font-family: "Rubik bubbles", system-ui;
  font-size: 50px;
  font-weight: bold;
  color: transparent;
  background-color: rgb(0, 0, 255);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  -webkit-background-clip: text;
  background-clip: text;
}

/* Estilo del cuerpo */
.Cuerpos6M {
  font-family: "Spicy Rice", serif;
  font-size: 40px;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  line-height: 1;
  color: rgb(248, 95, 0);
  background: linear-gradient(181deg, rgb(255, 228, 181), rgb(249, 65, 65));

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  padding: 50px;
}

.btn-Agilidad1M {
  font-family: "Jersey 10", sans-serif;
  -webkit-text-stroke: 0.9px rgb(0, 0, 0);
  position: relative;
  bottom: 264px;
  background: linear-gradient(10deg, rgb(85, 37, 130),rgb(0, 102, 255));
  border: none;
  color: white;
  padding: 50px 60px;
  font-size: 60px;
  border-radius: 25px;
  cursor: pointer;
  transition: 1s;
}
.btn-Agilidad2M {
  font-family: "Jersey 10", sans-serif;
  -webkit-text-stroke: 0.9px rgb(0, 0, 0);
  position: relative;
  bottom: 264px;
  background: linear-gradient(10deg, rgb(85, 37, 130),rgb(0, 102, 255));
  border: none;
  color: white;
  padding: 50px 60px;
  font-size: 89px;
  border-radius: 25px;
  cursor: pointer;
  transition: 1s;
}
.btn-Agilidad3M {
  font-family: "Jersey 10", sans-serif;
  -webkit-text-stroke: 0.9px rgb(0, 0, 0);
  position: relative;
  bottom: 264px;
  background: linear-gradient(10deg, rgb(85, 37, 130),rgb(0, 102, 255));
  border: none;
  color: white;
  padding: 50px 60px;
  font-size: 89px;
  border-radius: 25px;
  cursor: pointer;
  transition: 1s;
}
.JuegosAgilidadM img {
  width: 90px;
  height: 90px;
  gap: 90px;
  transition: 1s;
}
.JuegosAgilidadM {
  display: flex;
  justify-content: center;
  margin-top: 320px;
  gap: 90px;
  align-items: center;
}

.btn-Agilidad1M img:hover {
  width: 60px;
  height: 60px;
}
.btn-Agilidad2M img:hover {
  width: 70px;
  height: 70px;
}
.btn-Agilidad3M img:hover {
  width: 70px;
  height: 70px;
}
.btn-Agilidad1M:hover {
font-size: 45px;
background-color: rgb(45, 92, 56);
}

.btn-Agilidad2M:hover {
  font-size: 85px;
  background-color: rgb(62, 6, 79);
}
.btn-Agilidad3M:hover {
  font-size: 85px;
  background-color: rgb(0, 38, 48);
}
